@font-face {
    font-family: VTS;
    src: url(../../assets/font/brown.ttf);
}

@font-face {
    font-family: VTS-light;
    src: url(../../assets/font/brown-light.ttf);
}

.about-page{
    font-family: VTS;
}

@media (max-width: 1024px) {
    .about-page {
        padding-top: 70px;
    }
}

#subheader-img{
    width: 75%;
    float: right;
    height: 12vw;
}
.text-container, .image-container {
    width: 80%;
    margin: auto;
    font-family: VTS;
}

.text-bold {
    font-weight: 600;
    margin-bottom: 6vw;
}

.big-font {
    font-size: 2.5rem;
}

.intro, .commitment, .establishment {
    padding: 5vw 10vw;
}

.intro {
    background-color: #FFE81C;
}

.row-gap{
    margin: 5vw 5vw;
}

.subheader{
    margin: 5vw 0vw;
    width: 100%; 
    background-color: #14ffd8;
    height: 12vw;
}

.subheader-text{
    font-weight: 600;
    font-size: 1rem;
    margin: 2vw 6vw;
}

@media screen and (min-width: 576px) {
    .big-font {
        font-size: 4rem;
    }

    .text-container, .image-container {
        width: 100%;
        margin: 5vw 0vw;
    }
    
    .row-gap{
        margin: 0vw -1vw;
    }

    .subheader-text{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    
    .subheader-text{
        font-size: 2rem;
        margin: 3vw 6vw;
    }
}

@media screen and (min-width: 992px) {
    .subheader-text{
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .subheader-text{
        font-size: 3rem;
    }
}