.product-page {
    width: 80%;
    margin: auto;
}

.img-container{
    width: 100%;
    margin: 5vw;
}

#img{
    width: 100%;
}



.center{
    margin: auto;

}

.bold {
    font-weight: 700;
}

.container-gap{
    margin: 10vw 0vw;
}

.row-margin{
    margin: 10vw 5vw 5vw;
}

.closer{
  margin-top: 2vw;  
}

.farther{
    margin-top: 3vw;
}
@media screen and (min-width: 576px) {    
    .row-margin{
        margin: 10vw 3vw 3vw;
    }

    .img-container{
        margin: 3vw;
    }

    .product-page {
        width: 70%;
    }

    .closer{
        margin-top: 2vw;  
    }






}

@media screen and (min-width: 768px) {    
    .row-margin{
        margin: 0vw;
        
    }

    .img-container{
        margin: 4vw 0vw;
    }

    .farther{
        margin-top: 4vw;
    }

    .product-page {
        width: 90%;
    }

    .closer{
        margin-top: 2vw;  
    }
}


@media screen and (min-width: 992px) {    

    .closer{
        margin-top: 2vw;  
    }
    
}

@media screen and (min-width: 1200px) {    
    .closer{
        margin-top: 0vw;  
    }
    
}



