body {
    min-height: 80vh;
    font-family: VTS;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
}

.header-title {
    font-weight: 700;
    font-size: 4rem;
}

.header-text{
    background-color: red;
    width: 80%;
    position: absolute;
    top: 25%;
    left: 10%;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
    height: 600px; 
    object-fit: cover; 
    object-position: 100%;


}

.image2 {
    position: absolute;
    top: 90%;
    left: 25%;
}

