.homepage {
    min-height: 100vh;
    font-family: VTS;    
}

.header {
    position: relative;
    top: 0;
    left: 0;
    height: 125vh;
    background-color: aqua;
    color: white;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
    height: 90vh; 
    object-fit: cover; 
    object-position: 100%;
}

.image2 {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 80%;

}

.header-title {
    font-weight: 900;
    font-size: 4rem;
}

.header-text{
    width: 70%;
    position: absolute;
    top: 25%;
    left: 15%;
}


.establishment {
    padding: 5vw 10vw;
}


.row-gap{
    margin: 5vw 5vw;
}

.center-left {
    text-align: center;
}

.text-container {
    width: 100%;
    margin: 3vw 0vw;
    padding: 3vw 0vw;


}

#image-est{
    width: 100%;
    margin: auto;
    padding: 3vw 3vw;
}


@media screen and (min-width: 576px) {    
    .header-title {
        font-size: 2.5rem;
    }
    .header-text{
        top: 30%;
        width: 80%;
        text-align: center;
        left: 10%;
    }
    .image2 {
        top: 60%;
        object-fit: cover; 
        object-position: 100%;
        height: 50vh;
    }



    
    .row-gap{
        margin: 0vw -1vw;
    }


    

}

@media screen and (min-width: 768px) {
    .header-title {
        font-size: 3.5rem;

    }

    .text-container {
        padding: 1vw 0vw;
    }

}

@media screen and (min-width: 992px) {
    .header-title {
        font-size: 4.5rem;
    }
    .header-text{
        top: 25%;
    }
    .image2 {
        left: 20%;
        width: 60%;
    }
    #image-est{
        padding: 0vw;
    }

    .center-left {
        text-align: left;
    }
}







