.navbar-header {
  font-family: VTS;
  font-weight: bold;  
  padding-left: 10% !important;
  padding-right: 10% !important;
  font-size: max(1.3vw, 18px);
  white-space: nowrap;
}

.navbar-logo {
  width: 180%;
}

.nav-gap {
  width: 10%;
}

.logo-container{
  width: 40%;
  margin-left: -8vw;
}


@media screen and (min-width: 768px) {
  .logo-container{
    width: 30%;
  }
  .navbar-logo {
    width: 200%;
  }
  

}