.navbar-header {
  font-weight: bold;  
  padding-left: 10% !important;
  padding-right: 10% !important;
  font-size: max(1vw, 15px);
  white-space: nowrap;
  position: absolute !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar-logo {
  width: 120%;
}

.nav-gap {
  width: 10%;
}

.logo-container{
  width: 50%;
  margin-left: -8vw;
  margin-top: -2.5vw;
  margin-bottom: -2.5vw;

}

@media screen and (min-width: 576px) {
  .navbar-logo {
    width: 80%;
  }
}


@media screen and (min-width: 768px) {
  .navbar-logo {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  .navbar-logo {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .navbar-logo {
    width: 40%;
  }
}

.navbar-menu-select-link {
  font-weight: 700;
  line-height: 30px;
  font-size: 20px;
}

#responsive-navbar-nav {
  background-color: transparent;
  z-index: 2;
}