.team-container {
  width: 80%;
  margin: auto;
}


.team-img-container, .team-img, .team-description {
  width: 100%;
  margin-bottom: 1vw;
  font-family: VTS;
}

.name {
  font-weight: bold;
  font-size: 1.25rem;
}

.role {
  font-size: 1rem;
}

.org {
  font-size: 1rem;
  font-weight: 600;
}

@media screen and (min-width: 576px) {
  .name {
    font-size: 1.45rem;
  }
  
  .org {
    font-size: 1.3rem;
  }
  
  .role {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 992px) {
  .name {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .role {
    font-size: 1.25rem;
  }

  .org{
    font-size: 1.25rem;
    font-weight: 600;
  }
}