.team-container {
    width: 80%;
    margin: auto;
  }
  
  
  .team-img-container, .team-img, .team-description {
    width: 100%;
    margin-bottom: 1vw;
    font-family: VTS;
  }
  
  
  .name {
    font-weight: bold;
    font-size: 2vw;
  }
  
  .role {
    font-size: 1.5vw;
  }

  .org{
    font-size: 1.65vw;
    font-weight: 600;
  }