

.product-img-container, .product-description {
  width: 100%;
  margin-bottom: 2vw;
  font-family: VTS;
}
  

.title {
  font-weight: bold;
  font-size: 2rem;
}
  
.subtitle {
  font-size: 1.5rem;
}

@media screen and (min-width: 768px) {  

  .title {
    font-size: 1.75rem;
  }
    
  .subtitle {
    font-size: 1.25rem;
  }
}
