#footer {
    /* position: relative; */
    /* This will make the footer always stay at the bottom */
    position: relative;
    width: 100%;
    min-height: 15vw;
    background: #EEEEEE;
    font-family: VTS;
    font-weight: bold;  
    font-size: 0.8rem;
    white-space: nowrap;
    margin: auto;
    padding: 2vw 0vw 4vw;
}
    
.flex-gap {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 3vw;
}
  
.flex-gap img {
    width: 5%;
}

.center, .center-left{
    align-items: center;
    justify-content: center;
    text-align: center;
}

.disappear{
    width: 0%;
}



@media screen and (min-width: 992px) {    
    #footer{
        font-size: 1rem;
        height: 10vw;
    }

    .disappear{
        width: 15%;
        margin: 0vw 10vw;
    }

    .flex-gap img {
        width: 8%;
    }
    
}

@media screen and (min-width: 1200px) {    
    #footer{
        font-size: 1.25rem;
    }
    
}