#footer {
    /* position: relative; */
    /* This will make the footer always stay at the bottom */
    position: relative;
    width: 100%;
    min-height: 15vw;
    background: #EEEEEE;
    font-family: VTS;
    font-weight: bold;  
    font-size: 0.8rem;
    white-space: nowrap;
    margin: auto;
    padding: 40px 10% 4vw 10%;
    color: black;
}

.footer-logo {
  width: 20%;
  height: auto;
}

.footer-social-media {
  display: flex;
  
  align-items: center;
  width: 100%;
}

@media (max-width: 640px) {
  .footer-social-media {
    justify-content: center;
  }
}

@media (min-width: 641px) {
  .footer-social-media {
    justify-content: flex-end;
  }
}

.footer-social-media > * + * {
  margin-left: 30px;
}