@font-face {
  font-family: VTS;
  src: url(./assets/font/brown.ttf);
}
@font-face {
  font-family: VTS-light;
  src: url(./assets/font/brown-light.ttf);
}

.App {
  min-height: 100vh;
}



.center {
  display: block;
}

#big-text {
  font-family: VTS;
  font-style: normal;
  font-weight: normal;
  font-size: max(5vw, 35px);
  color: #ffffff;
  text-shadow: 0 0 1.39vw rgba(66, 255, 223, 0.79);
}

#small-text {
  font-family: VTS;
  font-style: normal;
  font-weight: normal;
  font-size: max(2vw, 20px);
  color: #FFFFFF;
  margin-bottom: min(4vh, 15px);
}

#main-container {
  padding-left: max(8vw, 20px);
  padding-right: max(8vw, 20px);
}

#subscribe-button {
  background-color: #5401A1;
  border: none;
  color: #FFFFFF;
  font-family: VTS;
  text-align: center;
  font-size: max(1.4vw, 20px);
  min-height: 3vw;
  min-width: 11vw;
  border-radius: 0px;
}

#subscribe-form {
  margin-top: 20vh;
  width: 100%;
}

#cta {
  background: linear-gradient(91.18deg, rgba(255, 255, 255, 0.2407) 26.55%, rgba(255, 255, 255, 0.029) 88.74%);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(1.39vw);
  height: 50px;
  color: #ffffff !important;
  
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 2;
}

#cta-button {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-family: VTS;
  color: #5401A1;
  font-size: 15px;
  text-align: center;
  font-weight: bold;
  height: 50px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

#why-text {
  padding-left: max(8vw, 20px);
  padding-right: max(8vw, 20px);
  font-family: VTS-light;
  font-style: normal;
  font-weight: lighter;
  font-size: max(2vw, 15px);
  color: #FFFFFF;
  margin-bottom: 4vh;
}

#learn {
  font-family: VTS;
  font-style: normal;
  font-weight: bold;
  font-size: max(1.5vw, 15px);
  color: #14FFD8;
}

#value-head {
  font-family: VTS;
  font-style: normal;
  font-weight: bold;
  font-size: max(3vw, 25px);
  color: #14FFD8;
}

#value-text {
  font-family: VTS-light;
  font-style: normal;
  font-weight: lighter;
  font-size: max(1.25vw, 12px);
  text-align: center;
  color: #FFFFFF;
}

#final-cta {
  background: #14FFD8;
  min-width: 80%;
  padding: 20px min(4vw, 10px);
}

#final-cta-big-text {
  font-family: VTS;
  font-style: normal;
  font-weight: lighter;
  font-size: max(4vw, 25px);
  color: #010042;
  mix-blend-mode: normal;
}

#final-cta-small-text {
  font-family: VTS;
  font-style: normal;
  font-weight: normal;
  font-size: max(1.5vw, 15px);

  color: #010042;
}

#final-cta-button {
  background-color: #5401A1;
  border: none;
  color: #FFFFFF;
  font-family: VTS;
  font-size: max(1.5vw, 15px);
  text-align: center;
  min-width: 100px;
  min-height: 40px;
  width: 100%;
}



.sub-background {
  background-image: url(./assets/img/why.png);
  background-repeat: no-repeat;
}

.custom-modal-dialog {
  border-radius: 0px !important;
}

#sub-join {
  text-align: center;
  font-family: VTS;
  font-style: normal;
  font-weight: normal;
  font-size: max(2vw, 20px);
  text-align: center;

  color: #5401A1;

  mix-blend-mode: normal;
}

#modal-form {
  border-radius: 0px;
  background: #FFFFFF;
  border: 2px solid #5401A1;
  font-size: max(1.1vw, 12px);
}

#modal-submit-button {
  border-radius: 0px;
  width: 100%;
  background: #5401A1;
  border: 1px solid #5401A1;
  font-family: VTS;
  color: #FFFFFF;
  font-size: max(1.1vw, 12px);
  text-align: center;
  font-weight: bold;
}

input[type=email] {
  font-family: VTS;
  font-size: max(1vw, 15px);
  color: #5401A1;
}

.about-sub-header {
  font-family: VTS;
  font-style: normal;
  font-weight: normal;
  font-size: max(2.75vw, 25px);
  color: #FFFFFF;
  mix-blend-mode: normal;
}

.text {
  font-family: VTS-light;
  font-style: normal;
  font-weight: lighter;
  font-size: max(1.5vw, 15px);
  color: #FFFFFF;
}

.des {
  font-family: VTS;
  font-style: normal;
  font-size: max(1.5vw, 15px);
  line-height: max(1.5vw, 15px);
  text-align: center;
  color: #FFFFFF;
}

#about-logo-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.logo-container {
  padding-left: max(8vw, 10px);
  padding-right: max(8vw, 10px);
}

.meet-desc {
  font-family: VTS-light;
  font-style: normal;
  font-weight: lighter;
  font-size: max(2.25vw, 20px);
  color: #FFFFFF;
}



.custom-member-modal {
  background-color: #5300A1 !important;
  border-radius: 0px !important;
  color: #FFFFFF !important;
}

@media (min-width: 576px) {
  .modal-dialog { 
    max-width: max(45vw, 500px) !important;
  }
}

.close {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #FFFFFF !important;
  font-family: VTS-light;
  /* opacity: .5; */
}

.close:hover {
  cursor: pointer;
}

.team-modal-image {
  width: max(15vw, 100px);
  height: max(15vw, 100px);
}

.li-container {
  width: max(1.5vw, 30px);
  height: max(1.5vw, 30px);
  margin-top: 20px;
}

#modal-text {
  font-family: VTS-light;
  font-style: normal;
  font-weight: lighter;
  font-size: max(1.15vw, 12px);
  color: #FFFFFF;
  white-space: pre-wrap;
}

#user-form > div > div > input {
  background: #010042;
  border: 2px solid #FFFFFF !important;
  border-radius: 0px;
  height: max(4vw, 40px);
}

#user-form > div > div > textarea {
  background: #010042;
  border: 2px solid #FFFFFF !important;
  border-radius: 0px;
}

#user-form > div > div > input[type="text"] {
  font-family: VTS;
  color: #FFFFFF;
  font-size: max(1.15vw, 15px);
}

#textarea {
  font-family: VTS;
  color: #FFFFFF;
  font-size: max(1.15vw, 15px);
}

.collapse-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}