@font-face {
    font-family: VTS-light;
    src: url(../../assets/font/brown-light.ttf);
  }
  

  @font-face {
    font-family: VTS;
    src: url(../../assets/font/brown.ttf);
  }
  
.short-column {
    height: 50vw;
}

.long-column {
    height: 75vw;
}

.Homepage {
    min-height: 100vh;
    font-family: VTS-light;    
}


.text-grid{
    margin-top: 3vw;
    background-color: #175996;
    color: white;
    position: relative;
    border-radius: 10px;
    padding: 2rem;
}

.text-grid-container {
    width: 80%;
    height: 50%;
}

.top{
    top: 0%;
}

.bottom {
    top: 35%;
}

.left{
    left: 0%;
}

.right{
    left: 15%;
}

.blue-button{
    margin: 3vw 0vw;
}

.header {
    font-family: VTS;  
    position: relative;
    top: 0;
    left: 0;
    height: 150vw;
    color: white;
}

.header-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    width: 100%; 
    object-fit: cover; 
    object-position: 100%;
}

@media (max-width: 1023px) {
    .image1 {
        height: 900px;
    }

    .establishment-homepage {
        margin-top: 100px;
    }
}

.team-image-container {
    margin-top: -150px;
    z-index: 2;
    position: relative;
}

.team-image {
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 12px 31px 7px rgba(23, 89, 150, 0.08);
}

.header-title {
    margin-bottom: 5vh;
    font-weight: 700;
    line-height: 60px;
}

@media (min-width: 1024px) {
    .header-title {
        font-size: 4.5rem;
        font-weight: 800;
    }

    .header-subtitle {
        font-size: 20px;
        line-height: 28px;
    }
}

.header-text{
    width: 70%;
    position: absolute;
    top: 20%;
    left: 15%;
}


.establishment-homepage {
    padding: 5vw 10rem;
}

@media (max-width: 600px) {
    .establishment-homepage {
        margin-top: 450px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .blue-button {
        margin-top: 150px;
    }
}


.button-arrow-icon {
    display: inline-flex;
    align-items: center;
}

.row-gap{
    margin: 5vw 5vw;
}

.center-left {
    text-align: center;
}

.text-container {
    width: 100%;
    margin: 3vw 0vw;
    padding: 3vw 0vw;
    font-size: 32px;
    line-height: 40px;
}

.homepage-normal-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

#image-est{
    width: 100%;
    margin: auto;
    padding: 3vw 3vw;
}

.button-container{
    width: 80%;
}

.testimony-card-text {
    font-weight: 600;
    font-size: 1rem;
    line-height: 22px;
}

.establishment {
    padding: 5vw 10vw;
}

.testimony-card-text-author {
    font-weight: 400;
    font-size: 12px;
    line-height: 19.6px;
}

.homepage-latest-blog-container {
    margin-top: 130px;
    margin-bottom: 130px;
}

@media screen and (min-width: 600px) {    
    .header-title {
        font-size: 2.5rem;
    }

    .header {
        height: 125vw;
    }
    
    .header-text{
        top: 25%;
        width: 80%;
        text-align: center;
        left: 10%;
    }

    .row-gap{
        margin: 0vw -1vw;
    }

    .button-container{
        width: 60%;
    }

    .short-column {
        height: 25vw;
    }
    
    .long-column {
        height: 35vw;
    }
}

@media screen and (min-width: 768px) {
    .header-title {
        font-size: 3.25rem;

    }

    .button-container{
        width: 40%;

    }

    .text-container {
        padding: 1vw 0vw;
    }

    .header-text{
        top: 15%;
    }

    .header {
        height: 110vw;
    }

    .short-column {
        height: 15vw;
    }
    
    .long-column {
        height: 20vw;
    }

    .team-image {
        width: 1200px;
    }

    .text-grid {
        padding: 1rem;
    }

    .testimony-card-text {
        font-size: 22px;
    }

    .testimony-card-text-author {
        font-size: 14px;
    }
}

@media screen and (min-width: 992px) {
    .header-title {
        font-size: 4.5rem;
    }

    .short-column {
        height: 20vw;
    }
    
    .long-column {
        height: 30vw;
    }
    .header-text{
        top: 15%;
    }
 
    #image-est{
        padding: 0vw;
    }

    .center-left {
        text-align: left;
    }
    .header {
        height: 95vw;
    }

    .button-container{
        width: 60%;
       
    }

    .team-image {
        width: 1200px;
    }

    .text-grid {
        padding: 1rem;
    }

    .testimony-card-text {
        font-size: 22px;
    }

    .testimony-card-text-author {
        font-size: 14px;
    }

    .homepage-latest-blog-container {
        margin-top: 200px;
        margin-bottom: 150px;
    }
}

@media screen and (min-width: 1200px) {
    .header-title {
        font-size: 4.5rem;
    }
    .header-text{
        top: 15%;
    }

    .header {
        height: 90vw;
    }
    
    .button-container{
        width: 50%;

    }

    .short-column {
        height: 15vw;
    }
    
    .long-column {
        height: 25vw;
    }

    .team-image {
        width: 1200px;
    }

    .text-grid-container {
        padding: 1rem;
    }

    .testimony-card-text {
        font-size: 22px;
    }

    .testimony-card-text-author {
        font-size: 14px;
    }

    .homepage-latest-blog-container {
        margin-top: 200px;
        margin-bottom: 150px;
    }
}
